---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/Icons/LinkedIn.astro';
import GitHubIcon from '../components/Icons/GitHub.astro';
import MailIcon from '../components/Icons/MailIcon.astro';
import SocialPill from'../components/SocialPill.astro';
---

<Layout title="Bruno Leonel Mendiberry">
	<main>

		<SectionContainer>
			<h1 class="text-white text:-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, I'm Bruno!
				<a 
				href="https://www.linkedin.com/in/bruno-leonel-a40110260/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge>Available for work</Badge>
			    </a>
		    </h1>
			<h2 class="text-2xl opacity-80 text-wrap">Three Years of experience....</h2>
		</SectionContainer>

		<SectionContainer>
			<ul class="flex gap-x-2">
				<li>
					<SocialPill href="https://www.linkedin.com/in/bruno-leonel-a40110260/">
						<LinkedInIcon class="w-6 h-6"/>
						LinkedIn
					</SocialPill>
				</li>
				<li>
					<SocialPill href="https://github.com/LeonBerry07">
						<GitHubIcon class="w-6 h-6"/>
						GitHub
					</SocialPill>
				</li>
				<li>
					<SocialPill>
						<MailIcon class="w-6 h-6"/>
						
							leonberry07@gmail.com
						
					</SocialPill>
				</li>
			</ul>
		</SectionContainer>

	</main>
</Layout>