---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/Icons/LinkedIn.astro';
import GitHubIcon from '../components/Icons/GitHub.astro';
import MailIcon from '../components/Icons/MailIcon.astro';
import SocialPill from'../components/SocialPill.astro';
import ProjectsIcon from '../components/Icons/IconProjects.astro';
import Projects from '../components/Projects.astro';
import Portfolio from '../components/Portfolio.astro';
---

<Layout title="Bruno Leonel Mendiberry">
	<main>

		<SectionContainer class="py-44">
			<h1 class="text-white text:-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-10">Hola, Soy Bruno!
				<a 
				href="https://www.linkedin.com/in/bruno-leonel-a40110260/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge>Disponible para trabajar</Badge>
			    </a>
		    </h1>
			<h2 class="text-1xl opacity-80 text-wrap">
				Tres años inmerso en el mundo IT como Desarrollador Web. De Buenos Aires, Argentina. Universidad, cursos e internet me han ayudado a llevar adelante mi camino.
			</h2>
			<ul class="flex gap-x-2 py-10">
				<li>
					<SocialPill href="https://www.linkedin.com/in/bruno-leonel-a40110260/">
						<LinkedInIcon class="w-6 h-6"/>
						LinkedIn
					</SocialPill>
				</li>
				<li>
					<SocialPill href="https://github.com/LeonBerry07">
						<GitHubIcon class="w-6 h-6"/>
						GitHub
					</SocialPill>
				</li>
				<li>
					<SocialPill href="mailto:leonberry07@gmail.com">
						<MailIcon class="w-6 h-6"/>
						
							leonberry07@gmail.com
						
					</SocialPill>
				</li>
			</ul>
		</SectionContainer>

		<SectionContainer id="proyectos" class="pb-32">
			<h2 class="text-2xl text-wrap flex gap-x-2 py-10 items-center">
				<ProjectsIcon class="size-6"/>
				Proyectos
			</h2>
			<Projects/>
			<Portfolio/>
		</SectionContainer>

		<SectionContainer id="sobre-mí" class='pb-32'>
			<h2 class="text-2xl text-wrap pb-5">
				Sobre Mí 👻
			</h2>
			<p class="text-xl opacity-80 text-wrap">
				Hola, soy Bruno Leonel Mendiberry 👋

            Me desempeño como Desarrollador Fullstack, con background en electrónica e ingenieria en sonido, también tengo conocimientos de edición de video y fotografía.

            Soy un amante de la tecnología e informática desde toda la vida, tanto desde el apartado del hardware como el apartado del software.

            Actualmente desarrollo proyectos que me permitan crecer como programador, tanto desde el lado técnico como creativo. Dichos proyectos están relacionados a mis gustos personales e ideas que creo hacen falta implementar en la sociedad.
			</p>
		</SectionContainer>

	</main>
</Layout>