---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Bruno Leonel Mendiberry">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, I'm Bruno!
				<a 
				href="https://www.linkedin.com/in/bruno-leonel-a40110260/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge>Available for work</Badge>
			    </a>
		    </h1>
			<h2 class="text-2xl opacity-80 text-wrap">Three Years of experience....</h2>
		</section>
	</main>
</Layout>