<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">

    <img 
    src="/BLM.jpg" 
    
    alt="blm"
    class='rounded-full w-15 h-20' 
    />

<nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#top"></a>
    <a href="#inicio">Inicio</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mí">Sobre Mí</a>
    <!-- <a href="#contacto">Contacto</a> -->
</nav>


</header>